{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
	<div class="row">
		<div class="col-md-4">
        </div>
		<div class="col-md-4">
			<form id="form" name="{{ form.name }}" method="post" action="{{ form.url }}" accept-charset="UTF-8">
				<input type="hidden" name="amount" value="{{ form.amount }}"/>
				<input type="hidden" name="currency" value="{{ form.currency }}"/>
				<input type="hidden" name="shop_id" value="{{ form.shop_id }}"/>
				<input type="hidden" name="sign" value="{{ form.sign }}"/>
				<input type="hidden" name="shop_order_id" value="{{ form.shop_order_id }}"/>
				<input type="hidden" name="description" value="{{ form.description }}">
				<input type="submit" />
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	document.getElementById("form").submit();
</script>
{% endblock %}